<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to Town Bazaar - Your Neighborhood Supermarket & Online Marketplace!
          At Town Bazaar, we make everyday shopping simple, convenient, and enjoyable. 
          Whether you walk into our physical store or shop online from the comfort of your home, 
          we're here to serve you with a wide selection of household essentials—all under one roof.</p>
      </div>
      <div class="col-lg-4">
        <p>Town Bazaar was born out of a simple idea: to create a reliable, all-in-one destination for everything a household needs. From personal hygiene and groceries to dairy, snacks, and cleaning products, we've built a space where you can find it all—with quality you can trust and service you'll love.
          We,re proud to serve as both a neighborhood supermarket and an online marketplace, offering our customers the flexibility to shop their way—anytime, anywhere.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
